.main{
    margin-left:300px;
    margin-top: -700px;
    height: 100%;
    width: 1000px;
    background-color:azure;
    border: 3px solid black;
    border-radius: 10px;
}
.title{
    align-items: center;
}