{% extends 'main/museam.html'%}
{% load static %}
{% block title %}
О создателях
{% endblock %}
{% block Name %}
О создателях
{% endblock %}
{% block content %}
<main id="main_catalog">
<div id="title_about">Здесь вы можете найти информацию о создании этого сайта.</div>
<hr>
<div id="title_about">Актуальность</div>
<hr>
<div id="text_about">Актуальность темы обусловлена культурной важностью музеев для общества. Примером этого служит Пушкинская карта, одной из возможностей которой является посещение музеев. Это говорит о том, что для правительства культурное развитие в общем, и музеи в частности - важная тема.
</div>
<hr>
<div id="title_about">Подробнее о создании сайта</div>
<hr>
<div id="text_about">Работа была выполнена в программе Visual Studio Code. Относительно популярных аналогов, у нее есть множество плюсов. В первую очередь это работа с множеством языков программирования, простота использования, а также то, что программа бесплатна.</div>
<hr>
<div id="title_about">Список использованной литературы</div>
<hr>
<div id="text_about">Анатолий Постолит, Python, Django и Bootstrap для начинающих / Постолит, Анатолий; Санкт-Петербург :  БХВ-Петербург, 2023 - 624 с.
                     <hr>
                     Андрей Диков, Клиентские технологии веб-дизайна. HTML5 и CSS3. Учебное пособие / Диков, Андрей; Санкт-Петербург : Лань, 2019 - 188 с.
                     <hr>
                     Владимир Дронов, Django 4. Практика создания веб-сайтов на Python / Дронов,Владимир; Санкт-Петербург :  БХВ-Петербург, 2024 - 800 с.
                     <hr>
                     Джон Дакетт, HTML и CSS. Разработка и дизайн веб-сайтов / Дакетт, Джон; Москва : Эксмо, 2020. - 480 с.
                     <hr>
                     Луис Лазарис, CSS. Быстрый старт / Лазарис, Луис; Москва : Эксмо, 2014. - 192 с.
                     <hr>
                     «Кунтскамера» - музей Санкт-Петербурга  //  «Кунтскамера» - музей Санкт-Петербурга, URL: https://www.kunstkamera.ru (дата обращения: 17.11.2024)
                     <hr>
                     Русский музей 2024: сайт для посетителей - билеты, экскурсии - Русский Музей  //  Русский музей 2024: сайт для посетителей - билеты, экскурсии - Русский Музей, URL: https://rusmuseum.ru(дата обращения: 17.11.2024)\
                     <hr>
                     Сайт музея Фабрже в Санкт-Петербурге  //  Сайт музея Фабрже в Санкт-Петербурге, URL:  https://fabergemuseum.ru/(дата обращения: 17.11.2024)
                     <hr>
                     Эрмитаж  //  Эрмитаж, URL:  https://hermitagemuseum.ru (дата обращения: 17.11.2024)
</div>
</main>
{% endblock %}