{% extends 'main/museam.html'%}
{% load static %}
{% block title %}
Кунтскамера
{% endblock %}
{% block Name %}
Кунтскамера
{% endblock %}
{% block content %}
  <main id="main_catalog">
  <h4>Местоположение: <a href="https://yandex.ru/maps/2/saint-petersburg/house/universitetskaya_naberezhnaya_3/Z0kYdQdkQEUHQFtjfXV1cHthYw==/?ll=30.342543%2C59.945503&z=12.7"> Университетская наб., 3, Санкт-Петербург</a></h4>
  <h4>Время работы: 10:00-18:00, без выходных</h4>
  <h4>Сайт музея: <a href="https://www.kunstkamera.ru">collection.kunstkamera.ru</a></h4>
  <hr>
  <h4>История музея: </h4>Музей антропологии и этнографии имени Петра Великого, также известный под историческим названием Кунсткамера (от немецкого Kunstkammer — кабинет редкостей)
  Музей учрежден Петром I в 1714 году, и стал первым в России публичным музеем.
  Год основания музея связан с распоряжением царя перевезти из Москвы в новую столицу личное собрание коллекций и библиотеку, а также кники и коллекции «натуралий» Аптекарской канцелярии, в том числе купленные во время Великого посольства в Европу.
  Начало собиранию коллекций для будущего музея положил ряд указов Петра, предписывающий  гражданам приносить анатомических уродцев и сдавать за плату «родившихся уродов», найденных необыкновенных вещей, «каменья необыкновенные, кости чловеческие и скотские, старые надписи на каменьях..» и прочие диковинные предметы. Эти указы сыграли ключевую роль в формировании коллекций Кунсткамеры, а позже Музея антропологии и этнографии. На протяжении двухсот лет сюда поступали коллекции, собранные российскими путешественниками, мореплавателями, а также коллекции специальных Академических экспедиций.
  Здание Кунсткамеры было спроектировано и построено в 1718 – 1727 гг. Яркий представитель Петровского барокко здание Кунсткамеры считается одним из самых ранних музейных зданий в мире, оно являетя символом и логотипом Россйской академии наук.Сегодня Федеральное государственное бюджетное учреждение науки Музей антропологии и этнографии им. Петра Великого (Кунсткамера) РАН – это не только академический музей, но и один из ведущих исследовательских центров Российской академии наук.
  <hr>
  <input class="hide" id="hd-1" type="checkbox" >
  <label for="hd-1">Готторпский (Большой Академический) глобус
  </label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/globe/">страница экспоната</a></p>
    Земной и небесный глобус изготовлен в герцогстве Шлезвиг-Гольштейн механиком А. Бушем и граверами А. и Х. Ротгизерами в 1651-1664 гг. по проекту Адама Олеария, во время правления герцога Фридриха III. Готторпский глобус – дипломатический подарок царю Петру I от Голштинского герцога Карла Фридриха в ходе Северной войны. Был привезен в Санкт-Петербург в 1717 г.  и в 1726 г. установлен на третьем этаже здания Кунсткамеры Академии наук. 
    В 1747 г. глобус пострадал во время пожара в Кунсткамере: от него остались металлический каркас, немногочисленные металлические детали и дверца с изображением герба Голштинского герцогства. Глобус был восстановлен в Санкт-Петербурге механиками Б. Скоттом и Ф. Н. Тирютиным, картографом И. Ф. Трускотом и живописцем И. Э. Гриммелем в 1748-1752 гг.
    Вновь созданный Большой Академический глобус повторяет размеры сгоревшего Готторпского глобуса, воспроизводит действующий механизм вращения, астрономию с картой звездного неба внутри. Географическая карта с внешней стороны глобуса отображает географические представления русских ученых второй половины XVIII.
    Диаметр глобуса составляет 3,1 м.
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/1.jpg' %}", height=300 ></a></p>
  </div>
  <hr>
  <input class="hide" id="hd-2" type="checkbox" >
  <label for="hd-2">Петровская Кунсткамера, или Башня знаний</label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/petrovskaya_kunstkamera_ili_bashnya_znanij/">страница экспоната</a></p>
    Экспозиция занимает два этажа в башне исторического здания Кунсткамеры. На первом этаже воссоздана петровская концепция раннего универсального музея как «Театра мира» (Teatrum mundi). Собранные в витринах «натуралии», «раритеты» и «куриозитеты», включая знаменитую коллекцию голландского анатома Фредерика Рюйша, – дают представление о том, что знал о мире человек начала XVIII века. Главными героями экспозиции выступают выдающиеся деятели зарождавшейся российской науки начиная с самого Петра, увлекавшегося анатомией, механикой и археологией, и его сподвижников – Роберта Арескина, Якова Брюса, Иоганна Шумахера.

    Вторая часть экспозиции – история исследований академических экспедиций и русских морских кругосветных путешествий XVIII — начала XIX века. Главными «гидами» в мир открываемых стран и народов выступают путешественники, исследователи и мореплаватели, собиравшие коллекции для старейшего музея России. Экспозиция разворачивается в двух проекциях-измерениях: «открытие» России (поездка в Сибирь Д.Г. Мессершмидта, Вторая Камчатская (Великая Северная) экспедиция, знаменитые Академические (Физические) экспедиции) и «открытие» мира (кругосветные плавания И.Ф. Крузенштерна и Ю.Ф. Лисянского, Ф.Ф. Беллинсгаузена и М.П. Лазарева, В.М. Головнина и Ф.П. Литке). Благодаря их научным изысканиям и собранным ими уникальными этнографическими коллекциями Кунсткамера стала «музеем мира».
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/2.png' %}", height=300 ></a></p>
  </div>
  <hr>
  <input class="hide" id="hd-3" type="checkbox" >
  <label for="hd-3">Имперский зал: Многонародная Россия</label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/imperskij_zal_mnogonarodnaya_rossiya/">страница экспоната</a></p>
  
    Тематически постоянная экспозиция Кунсткамеры, расположенная в Барочном зале исторического здания XVIII века, состоит из двух блоков: «Открываемая Россия (парад народов)» и «Императорские дары.

    «Открываемая Россия (парад народов)» опирается на один из ключевых эпизодов рождения национальной идеи России как многонародной империи – карнавал народов 1740 года, сопровождавший Ледяную свадьбу, устроенную в Петербурге императрицей Анной Иоанновной. В карнавале участвовали представители 150 народов России, а подготовкой празднества занимались, помимо двора, Академия наук и Кунсткамера. Современная экспозиция воскрешает ту атмосферу «моды на народы», представляя 23 оригинальных этнических костюма из фондов МАЭ РАН. Это костюмы народов Севера, Сибири и Дальнего Востока, финно-угорских, славянских и тюркских народов, населявших и населяющих Россию.

    «Императорские дары», еще один сюжет экспозиции, это – подарки российским императорам, в разное время переданные в Кунсткамеру. Ковер «Царю-освободителю» – подарок Александру II от благодарного болгарского народа. Албанский мужской костюм, украшенный богатой золотной вышивкой, – дар полковника царской армии Николая Озерецковского государю Николаю I. Удивлять дорогими подношениями любил частый гость при российском дворе – бухарский эмир Абд ал-Ахад. Много даров привез из Путешествия на Восток цесаревич Николай Александрович, будущий император Николай II.
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/3.png' %}", height=300 ></a></p>
  </div>
  <hr>
  <input class="hide" id="hd-4" type="checkbox" >
  <label for="hd-4">Первая астрономическая обсерватория Академии наук</label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/observatory/">страница экспоната</a></p>
    В башне Кунсткамеры в XVIII веке велись наблюдения над звездным небом, работали службы времени и картографии. Побывав здесь, посетитель Музея увидит разнообразный научный инструментарий, измерительные приборы, сложные по конструкции астролябии, изящные часовые механизмы, подзорные трубы и телескопы.

    В стенах обсерватории петербургской Кунсткамеры зародились отечественные астрономия, метеорология, география, геодезия, топография, служба времени. Через нее проходил первый петербургский меридиан, ставший основой картографирования страны и планировки города.
    
    Здесь работали выдающиеся ученые Санкт-Петербургской академии наук Л. Эйлер, Г. В. Крафт, Х. Н. Винсгейм, Ф. Х. Майер, Г. Гейнсиус и другие. Наблюдения велись в здании Кунсткамеры до завершения строительства в 1839 году Пулковской обсерватории.
    
    На экспозиции воспроизведено рабочее место астронома XVIII века. Большая раздвижная зрительная труба — один из немногих сохранившихся инструментов М. В. Ломоносова. С ее помощью он наблюдал прохождение Венеры по диску Солнца в 1761 году.
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/4.jpg' %}", height=300 ></a></p>
    
  </div>
  <hr>
  <input class="hide" id="hd-5" type="checkbox" >
  <label for="hd-5">Ближний и Средний Восток</label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/east/">страница экспоната</a></p>
    Разнообразны и красочны коллекции Музея по культуре народов Ирана, Афганистана, Турции, арабских стран.

    Материалы экспозиции показывают особо важные для населения региона памятники исламской культуры, включая рукописные и печатные экземпляры Корана, принадлежности для чтения и письма, атрибуты шиитской мистерии «Мохаррам». Среди предметов вооружения — образцы холодного оружия, старинный шлем, щит, части костюма всадника-бедуина.
    
    В зале демонстрируются великолепные шелка из подношений бухарских эмиров царской семье Романовых, другие художественные изделия населения Центральной Азии, а также некоторые особо яркие предметы быта народов Северной Африки.
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/5.jpg' %}", height=300 ></a></p>
  </div>
  <hr>
  <input class="hide" id="hd-6" type="checkbox" >
  <label for="hd-6">Китай</label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/china/">страница экспоната</a></p>
    Китайские коллекции являются одним из наиболее ранних и полных этнографических собраний МАЭ РАН.

    Музей гордится коллекцией художественных изделий XVIII-XIX вв. и собранием китайского фарфора. Китайские мастера достигли совершенства в резьбе по слоновой кости, лаку, камню и дереву.
    
    Коллекции одежды знакомят с особенностями костюма различных социальных слоев китайского общества, народов многонационального Китая.
    
    Широко представлены предметы культов и погребального обряда, дающие представление о многообразии религиозных учений населения этой страны.
    
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/6.jpg' %}", height=300 ></a></p>
  </div>
  <hr>
  <input class="hide" id="hd-7" type="checkbox" >
  <label for="hd-7">Монголия</label>
  <div><p><a href="https://kunstkamera.ru/exposition/ekspozicii6/mongolia/">страница экспоната</a></p>
    Экспозиция знакомит с традиционной одеждой монголов, домашней утварью и украшениями, музыкальными инструментами, ремесленными изделиями и предметами традиционного искусства. Особое место отведено предметам быта скотоводов. Снаряжение для верховой езды, изделия из войлока и кожи всегда составляли особую гордость кочевников-монголов. 

    Внимание посетителей музея привлекает большая модель традиционного жилища монголов — юрты, а также коллекция масок мистерии Цам, сделанных из папье-маше. Это образы гневных буддийских божеств — защитников веры. Монгольские монахи использовали их во время мистерий.
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/7.jpg' %}", height=300 ></a></p>
  </div>
  <hr>
  <input class="hide" id="hd-8" type="checkbox" >
  <label for="hd-8">Северная Америка</label>
  <div><p><a href="https://www.kunstkamera.ru/exposition/ekspozicii6/amerika/">страница экспоната</a></p>
    Экспозиция «Северная Америка» — это путешествие с севера на юг, от Аляски до Калифорнии. Она открывает красоту традиционной культуры американских индейцев первой половины XIX века.

    Байдарки и поворотные гарпуны, ступательные лыжи и снежные жилища, нарты и меховые парки (изделия эскимосов и алеутов — великих морских охотников Арктики) позволяют познакомиться с культурой народов самого северного региона планеты и удивиться достижениям арктической цивилизации.
    <p><a href="http://127.0.0.1:8000/"><img class="ima", src="{% static 'main/images.main/8.jpg' %}", height=300 ></a></p>
  </div>
 </main>
{% endblock %}